<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>集合</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>


<div id="app">
    <h2>1、v-for遍历数组</h2>
    <ul>
        <li v-for="(p,index) in persons" :key="index">
            {{index}}---{{p.name}}--->{{p.age}}
            ---
            <button @click="deleteP(index)">删除</button>
            ---
            <button @click="updateP(index,{name: 'lisi',age:23})">更新</button>

            ---
            <button @click="addP(index,{name: 'wangwu',age:11})">增加</button>

        </li>
    </ul>
    <h2>2、v-for遍历对象</h2>
    <ul>
        <li v-for="(value,key) in persons[1]" :key="key">

            {{value}}---{{key}}
        </li>
    </ul>


</div>
<script>
    //创建vue实例
    const vm = new Vue({//配置对象
        el: '#app',//element：选择器
        data: {
            persons: [{name: 'zp', age: 18},
                {name: 'zp2', age: 19},
                {name: 'zp3', age: 12},
                {name: 'zp4', age: 15}]
        },
        methods: {
            deleteP(index) {
                this.persons.splice(index, 1);
            },
            updateP(index, newP) {
                // this.persons[index] = newP;
                this.persons.splice(index, 1, newP);

            },
            addP(index, newP) {
                this.persons.splice(index, 0, newP);
            }
        }
    })

</script>
</body>
</html>